body {
  background: rgb(220, 224, 205);
}
h1 {
  text-align: center;
}
/*
   position: absolute;
   position: fixed;
   position: sticky;
*/
.caixa1 {
   position: relative;
   width: 200px;
   height: 200px;
   background: #00774f;
   left: 50px;
}
.menuPrincipal {
  position: absolute; 
  background: rgba(104, 38, 148, 0.541);
  width: 100%;
  height: 60px;
  top: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(124, 7, 42);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
li a:hover {
  background: rgb(3, 21, 82);
  color: blueviolet;
}
.boxImage {
  position: absolute;
  width: 400px;
  height: 100px;
  background: rgb(0, 175, 88);
  top: 30%;
  margin: 20px;
  border-color: green;
  border-style: dashed;
  padding: 20px;
  display: flex;
  justify-content: left;
  border-width: 100%;

}
#galaxia {
   width: 80px;
   height: 80px;
}